In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression

Часть №1

№3

In [115]:
housing_df = pd.read_csv('housing.csv')

In [116]:
housing_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [117]:
DUMMY_SEP = '__'
housing_df_dummies = pd.get_dummies(housing_df, prefix_sep=DUMMY_SEP, columns=['ocean_proximity'])

In [118]:
housing_df_dummies

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,0,0,0,1,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,0,0,0,1,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,0,0,0,1,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,0,1,0,0,0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,0,1,0,0,0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,0,1,0,0,0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,0,1,0,0,0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,0,1,0,0,0

In [119]:
dummy_columns = [c for c in housing_df_dummies.columns if DUMMY_SEP in c]

In [120]:
housing_df_dummies

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,0,0,0,1,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,0,0,0,1,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,0,0,0,1,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,0,1,0,0,0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,0,1,0,0,0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,0,1,0,0,0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,0,1,0,0,0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,0,1,0,0,0

In [121]:
housing_train_val, housing_test = train_test_split(housing_df_dummies, test_size=0.1)
housing_train, housing_val = train_test_split(housing_train_val, test_size = 0.1)

In [122]:
housing_train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
14543,-117.18,32.92,4.0,15025.0,2616.0,7560.0,2392.0,5.1960,210700.0,1,0,0,0,0
18171,-122.01,37.36,16.0,1105.0,354.0,499.0,324.0,4.2061,253600.0,1,0,0,0,0
17044,-122.28,37.49,29.0,4148.0,635.0,1638.0,627.0,6.9120,457200.0,0,0,0,0,1
9892,-122.29,38.29,52.0,3217.0,742.0,1670.0,671.0,2.4398,163100.0,0,0,0,1,0
7607,-118.26,33.88,39.0,1756.0,320.0,1055.0,322.0,3.2375,105200.0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19814,-119.25,36.56,35.0,1675.0,373.0,1131.0,316.0,1.6722,59100.0,0,1,0,0,0
2476,-120.08,36.34,18.0,1524.0,414.0,2030.0,356.0,2.1153,112500.0,0,1,0,0,0
15187,-117.05,33.04,12.0,1840.0,254.0,580.0,234.0,6.7769,400000.0,1,0,0,0,0
19483,-120.98,37.66,40.0,3012.0,616.0,1423.0,595.0,2.6346,100600.0,0,1,0,0,0
6909,-117.93,33.95,31.0,3600.0,468.0,1382.0,435.0,7.4597,500001.0,1,0,0,0,0

In [123]:
housing_train.insert(3,'average_rooms',housing_train.loc[:,'total_rooms']/housing_train.loc[:,'households'])
housing_train.insert(4,'average_bedrooms',housing_train.loc[:,'total_bedrooms']/housing_train.loc[:,'households'])
housing_train = housing_train.drop(['total_rooms','total_bedrooms'], axis=1)

In [124]:
housing_train

,longitude,latitude,housing_median_age,average_rooms,average_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
14543,-117.18,32.92,4.0,6.281355,1.093645,7560.0,2392.0,5.1960,210700.0,1,0,0,0,0
18171,-122.01,37.36,16.0,3.410494,1.092593,499.0,324.0,4.2061,253600.0,1,0,0,0,0
17044,-122.28,37.49,29.0,6.615630,1.012759,1638.0,627.0,6.9120,457200.0,0,0,0,0,1
9892,-122.29,38.29,52.0,4.794337,1.105812,1670.0,671.0,2.4398,163100.0,0,0,0,1,0
7607,-118.26,33.88,39.0,5.453416,0.993789,1055.0,322.0,3.2375,105200.0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19814,-119.25,36.56,35.0,5.300633,1.180380,1131.0,316.0,1.6722,59100.0,0,1,0,0,0
2476,-120.08,36.34,18.0,4.280899,1.162921,2030.0,356.0,2.1153,112500.0,0,1,0,0,0
15187,-117.05,33.04,12.0,7.863248,1.085470,580.0,234.0,6.7769,400000.0,1,0,0,0,0
19483,-120.98,37.66,40.0,5.062185,1.035294,1423.0,595.0,2.6346,100600.0,0,1,0,0,0
6909,-117.93,33.95,31.0,8.275862,1.075862,1382.0,435.0,7.4597,500001.0,1,0,0,0,0

In [125]:
housing_test.insert(3,'average_rooms',housing_test.loc[:,'total_rooms']/housing_test.loc[:,'households'])
housing_test.insert(4,'average_bedrooms',housing_test.loc[:,'total_bedrooms']/housing_test.loc[:,'households'])
housing_test = housing_test.drop(['total_rooms','total_bedrooms'], axis=1)

In [126]:
housing_test

,longitude,latitude,housing_median_age,average_rooms,average_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
13068,-121.30,38.58,19.0,4.582038,1.174439,1419.0,579.0,2.3787,91300.0,0,1,0,0,0
10466,-117.74,33.51,29.0,6.666667,1.042636,612.0,258.0,7.8239,500001.0,1,0,0,0,0
17027,-122.29,37.51,35.0,5.868726,1.003861,1374.0,518.0,6.1004,426400.0,0,0,0,0,1
4114,-118.41,34.14,33.0,5.984615,1.100000,258.0,130.0,5.7380,497600.0,1,0,0,0,0
5637,-118.30,33.75,19.0,5.636364,1.052632,1291.0,418.0,4.2308,416100.0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13816,-117.20,34.46,7.0,5.546473,1.044166,5146.0,1517.0,3.2794,92500.0,0,1,0,0,0
4871,-118.28,34.04,48.0,3.320961,1.120087,1772.0,458.0,2.2232,162500.0,1,0,0,0,0
14495,-117.20,32.85,26.0,4.140541,0.989189,980.0,555.0,2.4207,213500.0,0,0,0,0,1
3882,-118.52,34.22,35.0,5.641593,0.982301,959.0,226.0,5.0282,195400.0,1,0,0,0,0
9782,-121.02,36.24,12.0,4.378486,1.009960,1971.0,502.0,2.6801,100000.0,1,0,0,0,0

In [127]:
housing_val.insert(3,'average_rooms',housing_val.loc[:,'total_rooms']/housing_val.loc[:,'households'])
housing_val.insert(4,'average_bedrooms',housing_val.loc[:,'total_bedrooms']/housing_val.loc[:,'households'])
housing_val = housing_val.drop(['total_rooms','total_bedrooms'], axis=1)

In [128]:
housing_val

,longitude,latitude,housing_median_age,average_rooms,average_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
7990,-118.18,33.86,39.0,4.556075,1.140187,1702.0,642.0,2.3750,160800.0,1,0,0,0,0
11483,-118.00,33.73,26.0,7.929078,0.992908,809.0,282.0,6.7395,342800.0,1,0,0,0,0
1249,-122.09,39.13,28.0,5.146914,1.104938,2587.0,810.0,2.3310,65500.0,0,1,0,0,0
15630,-122.41,37.80,52.0,3.689759,1.115964,1415.0,664.0,2.8229,375000.0,0,0,0,1,0
17417,-120.46,34.64,26.0,4.468809,1.141777,1520.0,529.0,1.9444,129400.0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14847,-117.08,32.68,26.0,5.406690,1.082746,2156.0,568.0,2.9318,112400.0,0,0,0,0,1
17598,-121.89,37.30,52.0,5.689560,0.994505,825.0,364.0,4.2414,284800.0,1,0,0,0,0
5458,-118.46,34.00,39.0,3.861635,1.094340,538.0,159.0,2.3542,235700.0,1,0,0,0,0
6815,-118.08,34.10,36.0,5.026266,1.028143,1605.0,533.0,3.5313,213200.0,1,0,0,0,0
20390,-118.91,34.22,15.0,7.208174,0.966794,2659.0,783.0,6.7559,312000.0,1,0,0,0,0

In [129]:
sum(housing_train['average_bedrooms'].isnull())

160

In [130]:
sum(housing_test['average_bedrooms'].isnull())

21

In [131]:
sum(housing_val['average_bedrooms'].isnull())

26

Для 207 элементов отсутсвует признак average_bedrooms.

In [132]:
housing_train_without_na=housing_train.dropna(axis=0)

In [133]:
housing_train_without_na

,longitude,latitude,housing_median_age,average_rooms,average_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
14543,-117.18,32.92,4.0,6.281355,1.093645,7560.0,2392.0,5.1960,210700.0,1,0,0,0,0
18171,-122.01,37.36,16.0,3.410494,1.092593,499.0,324.0,4.2061,253600.0,1,0,0,0,0
17044,-122.28,37.49,29.0,6.615630,1.012759,1638.0,627.0,6.9120,457200.0,0,0,0,0,1
9892,-122.29,38.29,52.0,4.794337,1.105812,1670.0,671.0,2.4398,163100.0,0,0,0,1,0
7607,-118.26,33.88,39.0,5.453416,0.993789,1055.0,322.0,3.2375,105200.0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19814,-119.25,36.56,35.0,5.300633,1.180380,1131.0,316.0,1.6722,59100.0,0,1,0,0,0
2476,-120.08,36.34,18.0,4.280899,1.162921,2030.0,356.0,2.1153,112500.0,0,1,0,0,0
15187,-117.05,33.04,12.0,7.863248,1.085470,580.0,234.0,6.7769,400000.0,1,0,0,0,0
19483,-120.98,37.66,40.0,5.062185,1.035294,1423.0,595.0,2.6346,100600.0,0,1,0,0,0
6909,-117.93,33.95,31.0,8.275862,1.075862,1382.0,435.0,7.4597,500001.0,1,0,0,0,0

In [134]:
lin_reg = LinearRegression()
X_train = housing_train_without_na[['population','average_rooms']]
y_train = housing_train_without_na['average_bedrooms']
lin_reg.fit(X_train,y_train)

LinearRegression()

In [135]:
y_pred = lin_reg.predict(X_train)

In [137]:
y_pred.mean()

1.094926097089602

In [139]:
housing_train_without_na['average_rooms'].mean()

5.421303275614389

In [141]:
y_pred.mean()/housing_train_without_na['average_rooms'].mean()

0.20196732066525377

По тренировочной выборке видим, что количество спален составляет примерно 20% от количества комнат

In [143]:
nan_indexes = housing_train[housing_train['average_bedrooms'].isnull()].index
fill_data = housing_train['average_rooms']*0.2
housing_train.loc[nan_indexes, 'average_bedrooms'] = pd.Series(fill_data, index=nan_indexes)

In [145]:
sum(housing_train['average_bedrooms'].isnull())

0

In [146]:
nan_indexes = housing_test[housing_test['average_bedrooms'].isnull()].index
fill_data = housing_test['average_rooms']*0.2
housing_test.loc[nan_indexes, 'average_bedrooms'] = pd.Series(fill_data, index=nan_indexes)

In [147]:
sum(housing_test['average_bedrooms'].isnull())

0

In [148]:
nan_indexes = housing_val[housing_val['average_bedrooms'].isnull()].index
fill_data = housing_val['average_rooms']*0.2
housing_val.loc[nan_indexes, 'average_bedrooms'] = pd.Series(fill_data, index=nan_indexes)

In [149]:
sum(housing_val['average_bedrooms'].isnull())

0

In [289]:
housing_train['longitude'] = preprocessing.scale(housing_train['longitude'])
housing_train['latitude'] = preprocessing.scale(housing_train['latitude'])

In [290]:
housing_train

,longitude,latitude,housing_median_age,average_rooms,average_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
1788,-1.390643,1.080813,43.0,3.324324,0.963964,371.0,111.0,1.6000,79400.0,0,0,1,0
1462,-1.210921,1.090189,32.0,4.961652,0.982301,1980.0,678.0,3.7000,179000.0,0,1,0,0
10425,0.970709,-1.014667,4.0,7.265683,1.033210,805.0,271.0,7.6012,310800.0,0,0,0,1
13920,2.024081,-0.663076,30.0,8.571429,2.158730,122.0,63.0,1.3333,42500.0,0,1,0,0
13384,0.985685,-0.714643,18.0,5.860895,1.033074,3360.0,1028.0,4.8889,155700.0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8504,0.636225,-0.822464,26.0,3.700000,0.945455,807.0,330.0,4.0536,253600.0,1,0,0,0
13774,1.260261,-0.747458,23.0,5.683381,1.097421,1518.0,698.0,2.2900,111800.0,0,1,0,0
12134,1.205346,-0.803713,12.0,6.446215,1.000000,1610.0,502.0,4.7568,143500.0,0,1,0,0
11709,-0.302324,1.643358,25.0,18.715517,3.327586,248.0,116.0,3.0375,171900.0,0,1,0,0
6455,0.756040,-0.709955,35.0,5.474667,0.984000,1044.0,375.0,4.1875,275400.0,0,1,0,0

In [292]:
print(housing_train['longitude'].to_numpy().mean(axis = 0))
print(housing_train['longitude'].to_numpy().std(axis = 0))
print(housing_train['latitude'].to_numpy().mean(axis = 0))
print(housing_train['latitude'].to_numpy().std(axis = 0))

2.7201061782896526e-17
1.0
1.3116543249178365e-15
1.0

In [150]:
housing_test['longitude'] = preprocessing.scale(housing_test['longitude'])
housing_test['latitude'] = preprocessing.scale(housing_test['latitude'])

In [151]:
housing_test

,longitude,latitude,housing_median_age,average_rooms,average_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
13068,-0.858252,1.384047,19.0,4.582038,1.174439,1419.0,579.0,2.3787,91300.0,0,1,0,0,0
10466,0.911231,-0.980814,29.0,6.666667,1.042636,612.0,258.0,7.8239,500001.0,1,0,0,0,0
17027,-1.350327,0.884954,35.0,5.868726,1.003861,1374.0,518.0,6.1004,426400.0,0,0,0,0,1
4114,0.578211,-0.686956,33.0,5.984615,1.100000,258.0,130.0,5.7380,497600.0,1,0,0,0,0
5637,0.632886,-0.868868,19.0,5.636364,1.052632,1291.0,418.0,4.2308,416100.0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13816,1.179636,-0.537694,7.0,5.546473,1.044166,5146.0,1517.0,3.2794,92500.0,0,1,0,0,0
4871,0.642827,-0.733600,48.0,3.320961,1.120087,1772.0,458.0,2.2232,162500.0,1,0,0,0,0
14495,1.179636,-1.288666,26.0,4.140541,0.989189,980.0,555.0,2.4207,213500.0,0,0,0,0,1
3882,0.523536,-0.649640,35.0,5.641593,0.982301,959.0,226.0,5.0282,195400.0,1,0,0,0,0
9782,-0.719079,0.292573,12.0,4.378486,1.009960,1971.0,502.0,2.6801,100000.0,1,0,0,0,0

In [152]:
housing_val['longitude'] = preprocessing.scale(housing_val['longitude'])
housing_val['latitude'] = preprocessing.scale(housing_val['latitude'])

In [153]:
housing_val

,longitude,latitude,housing_median_age,average_rooms,average_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
7990,0.690642,-0.833331,39.0,4.556075,1.140187,1702.0,642.0,2.3750,160800.0,1,0,0,0,0
11483,0.779131,-0.894086,26.0,7.929078,0.992908,809.0,282.0,6.7395,342800.0,1,0,0,0,0
1249,-1.231521,1.629550,28.0,5.146914,1.104938,2587.0,810.0,2.3310,65500.0,0,1,0,0,0
15630,-1.388833,1.007988,52.0,3.689759,1.115964,1415.0,664.0,2.8229,375000.0,0,0,0,1,0
17417,-0.430210,-0.468806,26.0,4.468809,1.141777,1520.0,529.0,1.9444,129400.0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14847,1.231404,-1.384793,26.0,5.406690,1.082746,2156.0,568.0,2.9318,112400.0,0,0,0,0,1
17598,-1.133200,0.774318,52.0,5.689560,0.994505,825.0,364.0,4.2414,284800.0,1,0,0,0,0
5458,0.552994,-0.767904,39.0,3.861635,1.094340,538.0,159.0,2.3542,235700.0,1,0,0,0,0
6815,0.739803,-0.721170,36.0,5.026266,1.028143,1605.0,533.0,3.5313,213200.0,1,0,0,0,0
20390,0.331773,-0.665089,15.0,7.208174,0.966794,2659.0,783.0,6.7559,312000.0,1,0,0,0,0